h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 2802012141. Programar el muestreo de agua de acuerdo con normas técnicas y protocolos de ensayo.



