h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Comprender los conceptos básicos del desarrollo de las nuevas tecnologías en el sector salud, teniendo en cuenta las competencias digitales.




