h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Presentación / introducción: el agua y su calidad', 'main.html#page/presentacion/')
                    +navTemaItem('2', 'Importancia del alistamiento de toma de muestras', 'main.html#page/aislamiento/')
                    +navTemaItem('3', 'Bases conceptuales de muestreo', 'main.html#page/muestreo/')
                    +navTemaItem('4', 'Instrumentos de laboratorio', 'main.html#page/laboratorio/')
                    +navTemaItem('5', 'Capacitación y SST en muestreo', 'main.html#page/capacitacion/')
