.container
    .header-ecored
        h1 1. Presentación / introducción: el agua y su calidad
    .jumbotron.bg-white
        p La organización de un proceso de toma de muestras es elemental para garantizar que los resultados de dicha actividad no sean alterados por agentes externos al recurso a evaluar, este proceso debe realizarse partiendo de la aplicabilidad de conceptos claros sobre los instrumentos de laboratorio, las muestras y la capacitación idónea que debe tener el personal que realice la actividad.
        p En esta unidad temática se desarrollará tres contenidos para tener bases concretas en el proceso de programación de muestreo de agua:

        .row.justify-content-center.mt-5
            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img1.png").img-fluid    
                        h3.text-white Instrumentación de laboratorio 
                        .hr
                        p.text-white Elementos de vidrio, de plástico, conceptos de tomas físicas, químicas y microbiológicas, instrumentación y características del sitio de trabajo: definición.     
            .col-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img2.png").img-fluid 
                        h3.text-white Bases conceptuales de muestreo
                        .hr
                        p.text-white Tipos, técnicas de muestreo, preservación, conservación, transporte y almacenamiento. Tamaño de la muestra, tipos de ensayos y puntos de toma de muestra, programa de muestreo.      
            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img3.png").img-fluid    
                        h3.text-white Capacitación
                        .hr
                        p.text-white Plan de capacitación, seguridad y salud en el trabajo para el personal para la recolección de muestras en campo.      

        .sub-title-line.mt-5#11
            h2 1.1 El agua y su calidad
        .row.justify-content-center.align-items-center.mt-5
            .col
                p.mb-0 Generalmente en el diario vivir se realizan actividades que tienen una incidencia en el ambiente, bien sea porque parten del uso y aprovechamiento de un recurso o por que dicha actividad genera una modificación de un recurso natural existente; Sin embargo, son estas acciones cotidianas las que brindan en gran medida un conocimiento previo sobre la naturaleza, en este caso el recurso hídrico y su importancia.            
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img4.png").mxw.img-fluid                