.container
    .header-ecored
        h1 4. Instrumentos de laboratorio
    .jumbotron.bg-white
        img.img-a.mb-5(src="assets/images/pages/ilustraciones/img64.png").img-fluid 
        p.mt-5 Se designa a través del concepto material de laboratorio a todo aquel material que puede ser empleado en un laboratorio (puede ser de vidrio, madera, metal, plástico, goma y porcelana) para realizar las típicas actividades que en este tipo de lugares se llevan a cabo, pueden ser: investigaciones, experimentos, estudios especiales sobre recursos, partículas u otros.

        p El uso de los instrumentos de laboratorio debe estar orientado al objetivo de la muestra, teniendo en cuenta las características requeridas para muestras fisicoquímicas y microbiológicas, si el procesamiento de la misma será in situ o si se requiere de algún equipo o herramienta.

        .sub-title-line.mt-5#41
            h2 4.1  Recipientes, reactivos e insumos
        p Los recipientes para la toma de muestras más usados para exámenes físicos - químicos y microbiológicos de acuerdo al INS (2011), son de vidrio y plástico, y varían de acuerdo con la muestra y sus componentes. En algunos casos es requerido el uso de un blanco del recipiente para descartar interferencias.

        .row.justify-content-center.align-items-stretch.my-5
            .col-12.col-md-5.border.mx-2
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img65.png").img-fluid.img-border-radius-sup  
                .list.mt-4
                    .list__item
                        .list__item__number
                            span 1
                    .list__txt    
                        p.mb-0 Deben ser resistentes a altas temperaturas, ya que deben ser esterilizados a temperaturas de 120 ºC o 160ºC para garantizar que los recipientes están libres de microorganismos antes de la toma de la muestra.

                .list.mt-4
                    .list__item
                        .list__item__number
                            span 2
                    .list__txt    
                        p.mb-0 Deben ser de vidrios neutros para que durante el proceso de esterilización y de almacenamiento de la muestra no ocurran reacciones donde se liberan productos tóxicos que puedan afectar la viabilidad de los microorganismos presentes en la muestra. 

                .list.mt-4
                    .list__item
                        .list__item__number
                            span 3
                    .list__txt    
                        p.mb-0 Deben tener tapa rosca, preferiblemente de plástico, con forros de silicona termo-resistentes (p. 34).

            .col-12.col-md-5.border.mx-2
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img66.png").img-fluid.img-border-radius-sup 
                p.mt-3 Las siguientes son las características generales de los recipientes:
                .list.mt-4
                    .list__item
                        .list__item__number
                            span 1
                    .list__txt    
                        p.mb-0 Preferiblemente livianos y resistentes.

                .list.mt-4
                    .list__item
                        .list__item__number
                            span 2
                    .list__txt    
                        p.mb-0 Deben tener tapa rosca del mismo tipo de plástico del recipiente para evitar deformaciones después del proceso de esterilización.
                        
                .list.mt-4
                    .list__item
                        .list__item__number
                            span 3
                    .list__txt    
                        p.mb-0  Boca ancha

                .list.mt-4
                    .list__item
                        .list__item__number
                            span 4
                    .list__txt    
                        p.mb-0 Tapa protectora
                        
                .list.mt-4
                    .list__item
                        .list__item__number
                            span 5
                    .list__txt    
                        p Cierre hermético. (p.35).     

        .header-arrow.py-3.my-5
            .row.align-items-center
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img67.svg").img-fluid 
                .col
                    h2.mb-0 Lavado y acondicionamiento de los recipientes

        p Lavado y acondicionamiento de los recipientes depende del análisis a desarrollar el INS (2011), brinda directrices claras sobre el acondicionamiento de materiales para análisis fisicoquímico y microbiológico como se describe a continuación: 

        .container.timeline__wrapper
            .row.justify-content-center.px-sm-2.px-md-5.py-5
                .col-12.col-lg-11
                    section                          
                        .timeline-card-wrapper.tl--borders.pt-5    
                            .timeline-card
                                .timeline-card__head
                                    h3.text-white 1. Para análisis fisicoquímico
                                .timeline-card__body
                                    p Los recipientes de vidrio nuevos se deben limpiar con agua y detergentes, para eliminar el polvo; después se limpian con una mezcla de ácido crómico - ácido sulfúrico o en su defecto con limpiador neutro y se enjuagan con agua destilada.
                                    p Los recipientes de polietileno se limpian llenándolos con una solución al 10% o 1 molar de ácido nítrico o ácido clorhídrico, dejándolos llenos durante 30 minutos. Finalmente se enjuagan con agua destilada o desionizada.
                                    p Los detergentes no deben usarse con fines de limpieza, cuando haya lugar a determinación de fosfatos, silicatos, boro y surfactantes.   

                            .timeline-card
                                .timeline-card__head
                                    h3.text-white 2. Para análisis microbiológico
                                .timeline-card__body
                                    p El lavado se debe realizar con detergentes neutros y para eliminar la suciedad, se deben enjuagar con agua corriente hasta eliminar completamente las trazas de jabón, posteriormente se enjuaga con agua destilada y finalmente se dejan secar al medio ambiente o en estufa.
                                    p Los recipientes destinados para la toma de muestras de agua que ha sido tratada con agentes oxidantes como el cloro, la cloramina, bromo u ozono y que van a ser esterilizados, se les debe adicionar tiosulfato de sodio (Na2S2O3), que es un agente reductor que inactiva el efecto bactericida de los elementos mencionados anteriormente. Permitiendo así la detección de los microorganismos presentes en el agua a analizar (p.37).
                                    p Para inactivar 1 mg de sodio se requieren 7 mg de tiosulfato de sodio pentahidratado.  Para la toma de muestras de agua potable para el consumo el IDEAM (2017, p. 26) específica que se puede adicionar tiosulfato en cualquiera de las siguientes dosificaciones:
                                    .list.mt-3
                                        .list__item
                                            .list__item__icon
                                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                        .list__txt    
                                            p 0.2 g de tiosulfato de sodio  

                                    .list.mt-3
                                        .list__item
                                            .list__item__icon
                                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                        .list__txt    
                                            p 0.1 ml de tiosulfato al 2%                              

                                    .list.mt-3
                                        .list__item
                                            .list__item__icon
                                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                                        .list__txt    
                                            p 0.5 ml de tiosulfato de sodio al 10%

        .header-arrow.py-3.my-5
            .row.align-items-center
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img67.svg").img-fluid 
                .col
                    h2.mb-0 Esterilización de los recipientes

        p La toma de muestras deben estar estériles. Es decir, deben haber sido sometidos a procesos de esterilización. La esterilización hace referencia a procesos físicos o químicos que eliminan cualquier forma de vida. Cuando se dice que un recipiente está estéril es porque en este no hay presencia de microorganismos o esporas termorresistentes.
        p Los recipientes para la toma de muestras se deben esterilizar de acuerdo a los Standard Methods For the Examination of Water and Wastewater (2017) se puede mediante métodos físicos como la esterilización por calor húmedo o por calor seco:

        .hr-blue.mt-5
        .timeline
            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.px-5.py-5.mb-0 Se realiza en un equipo llamado autoclave en el que mediante el vapor de agua se producen temperaturas de 121 ± 3 ºC y 1 atmósfera de presión. Cuanto se someten los recipientes a estas condiciones durante 15 minutos, los microorganismos o las esporas que estaban presentes en estos, mueren y como consecuencia los recipientes quedan estériles.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/img68.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title 1.	Esterilización por calor húmedo 

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes.pb-0
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.px-5.pt-5 Se realiza en un horno que se lleva a una temperatura de 170 ± 10 ºC durante 1 hora. Los recipientes de plástico no se deben esterilizar por este método.
                    p.px-5 Antes de llevar los recipientes al proceso de esterilización estos se deben tapar, sin cerrarlos totalmente. La tapa y el cuello del recipiente se debe cubrir con papel Kraft, mantequilla o aluminio para proteger la boca y la tapa del recipiente en el momento del muestreo.  Como se indica en la figura 3.
                    p.px-5 Cuando el punto de muestreo sea mediante inmersión en agua limpia, el exterior de frasco deberá cubrirse con papel Kraft, aluminio o en bolsas esterilizables, esto con el fin de mantener la esterilidad del exterior del frasco hasta el momento del muestreo.
                    p.px-5.pb-5.mb-0 Cuando la esterilización no es posible por ningún medio, la ICONTEC en su NTC 6151 (2015) menciona la posibilidad de hacer desinfección de los recipientes mediante ebullición durante 30 minutos, para ello se deben sumergir los recipientes y sus tapas en agua hirviendo. Terminado el proceso de desinfección se debe eliminar el agua de los recipientes, tapar y colocar en una envoltura limpia.

                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/img69.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title 2.	Esterilización por calor seco                                             
            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes.pb-0
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.px-5.pt-5 Se deben realizar pruebas de monitoreo al proceso de esterilización o hacer pruebas a los recipientes para comprobar su esterilidad.
                    p.px-5.pb-5.mb-0 Ampliar la información con la NTC 5667-2 en cuanto a recipientes para muestras y en la NTC 6151.
 
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/img70.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title 3.	Prueba de esterilidad de los recipientes

        .hr-ecored.mt-5
        .row.justify-content-center.align-items-center.my-5
            .col-12.col-md-6.my-3        
                section
                    a(href="http://files.control-ambiental5.webnode.com.co/200000144-4dfdd4f559/NTC-ISO%205667-02-1995.%20Tecnicas%20generales%20de%20muestreo.pdf" target="_blank").media-link      

                        img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                        .media-link-title
                            p.text-small Para reforzar las técnicas puede apoyarse de la ISO 5667-2 Gestión ambiental. Calidad del agua. Muestreo. Técnicas generales de muestreo 

            .col-12.col-md-6.my-3
                section    
                    a(href="http://biblioteca.sena.edu.co/paginas/bases.html" target="_blank").media-link      

                        img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                        .media-link-title
                            p.text-small Para ampliar la información acerca de los procedimientos de muestreo para el análisis de la calidad microbiológica del agua se recomienda consultar la norma técnica colombiana NTC 6151:2015.#[br] Ir a ICONTEC y buscar norma NTC 6151 y allí seleccionar NTC 6151:2015. 

        .hr-ecored                                     

        .sub-title-line.mt-6#42
            h2 4.2 Equipos y herramientas
        img.img-fluid(src='assets/images/pages/ilustraciones/img71.svg', alt='img')    
        p.mt-5 El trabajo práctico de toma de muestras en el sitio siempre se acompaña del uso de equipos y herramientas necesarias para tal fin, teniendo en cuenta no solo las condiciones mínimas de dichos implementos como que se encuentren calibrados, sino también el uso acorde a las indicaciones de cada equipo.  

        .row.border.mt-5
            .row.justify-content-center.align-items-center.mt-3.mx-0
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img72.png").img-fluid 
                .vl
                .col  
                    p.mb-0.text-blue Equipo de muestreo manual

            img.img-a.my-5(src="assets/images/pages/ilustraciones/img73.png").img-fluid            

            .row.justify-content-center.align-items-center.mx-0
                .col-12 
                    p Para el INVEMAR manejar los equipos para las muestras superficiales es extremar la limpieza del material y procurar procedimientos que eviten la contaminación. En muestras superficiales la recolección se puede hacer manualmente introduciendo la botella colectora bajo la superficie, procurando siempre hacerlo a la misma profundidad (c.a. 25 cm), otras recomendaciones dadas para estos equipos son:       
                    .row.justify-content-center.align-items-center.mt-5
                        .col-auto
                            img.img-a(src="assets/images/pages/ilustraciones/img74.png").img-fluid             
                        .col  
                            p “Cuando el objetivo es obtener muestras de agua a profundidades determinadas, se emplean botellas colectoras dotadas de mecanismos de cierre para confinar la masa de agua que se encuentra a la profundidad de interés. En estudios oceanográficos, se emplean normalmente botellas Nansen para el análisis de los parámetros fisicoquímicos, pH, salinidad, oxígeno disuelto y nutrientes inorgánicos.

                            p Las botellas Van Dorn y Niskin, por tener capacidad de mayor volumen, son ideales para la obtención de muestras en el análisis de pigmentos fotosintéticos y contaminantes (pesticidas, metales pesados, etc.). Hay que tener bastante precaución cuando se usan estas botellas en el muestreo de aguas con alto contenido de sólidos sedimentables; su forma alargada y un flujo muy lento para extraer la muestra por las llaves, facilitan la sedimentación de los sólidos provocando diferencia en este parámetro entre las primeras y las últimas botellas receptoras que se llenan.
                

                    .row.justify-content-center.align-items-center.my-5
                        .col-auto
                            img.img-a(src="assets/images/pages/ilustraciones/img75.png").img-fluid             
                        .col  
                            p La botella Van Dorn horizontal es adecuada para colectar muestras de fondo en cuerpos de agua muy someros, siendo muy apropiada para estudios de estratificación vertical, termoclinas y termohalinas en lagunas costeras, mientras que las de funcionamiento vertical permiten colectar muestras a mayores profundidades.
                            p La recolección de muestras para el análisis de hidrocarburos requiere un equipo de muestreo especial; La muestra se debe recolectar en la misma botella de almacenamiento (que debe ser de vidrio) y a una profundidad de un metro, por lo cual no es posible utilizar ninguna de las mencionadas anteriormente.” (2013, pp.14-18)
                
        .row.border.mt-5
            .row.justify-content-center.align-items-center.mt-3.mx-0
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img72.png").img-fluid 
                .vl
                .col  
                    p.mb-0.text-blue Equipo de muestreo automático

            img.img-a.my-5(src="assets/images/pages/ilustraciones/img76.png").img-fluid            

            .row.justify-content-center.align-items-center.mx-0
                .col-12 
                    p Es importante resaltar que también existe tomadores de muestras instrumentados y a menudo automatizados dentro de estos existen dos tipos principales; Los dependientes del tiempo, que recogen muestras discretas, compuestas o continuas y los dependientes del volumen también recogen estos tipos de muestra y tienen en cuenta las variaciones en el flujo (NTC 5667-2, 1995).
                    p Entre otros, ampliar la información con la NTC 5667-2 en cuanto a equipos para muestras.

                    section.mb-3   
                        a(href="http://files.control-ambiental5.webnode.com.co/200000144-4dfdd4f559/NTC-ISO%205667-02-1995.%20Tecnicas%20generales%20de%20muestreo.pdf" target="_blank").media-link      

                            img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                            .media-link-title
                                p.text-small Para reforzar las técnicas puede apoyarse de la ISO 5667-2 Gestión ambiental. Calidad del agua. Muestreo. Técnicas generales de muestreo.  
        .row.border.mt-5
            .row.justify-content-center.align-items-center.mt-3.mx-0
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img72.png").img-fluid 
                .vl
                .col  
                    p.mb-0.text-blue Equipos para análisis

            img.img-a.my-5(src="assets/images/pages/ilustraciones/img77.png").img-fluid            

            .row.justify-content-center.align-items-center.mx-0
                .col-12 
                    p Dentro de los equipos o instrumentos más usados para la realización de los análisis se puede encontrar:  

                    .list.mt-3
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p Termómetro: termómetro Celsius (centígrado) con columna de mercurio, el cual mínimo debe tener una escala marcada cada 0.1°C. Para prevenir rupturas en labores de campo, se recomienda un termómetro con cazoleta protectora. En la actualidad se emplean muchos medidores electrónicos provistos con sondas, los cuales poseen termocuplas o termistores en su interior. Con miras a los procesos de validación y certificación de los laboratorios ambientales, los termómetros y sensores de temperatura deben calibrarse al menos una vez al año por una institución competente, o contra termómetros certificados, siguiendo el protocolo para cada equipo y/o fabricante (INVEMAR, 2013, p.21). 

                    .list.mt-3
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p pHmetro: según el INVEMAR (2013) la técnica más exacta, usada para la medición del pH es la potenciométrica, que se fundamenta en la medida de la diferencia de potencial experimentada en dos celdas electroquímicas (denominadas electrodos), se emplea un electrodo combinado de membrana de vidrio y uno de calomel como referencia.  
                            p Los equipos actuales combinan estas dos celdas electrolíticas en un mismo sensor, y poseen programas electrónicos internos que dan la medida directa a partir de la diferencia de potencial, facilitando la lectura de este parámetro. 
                            p Los medidores de pH (pHmetro) modernos poseen un mecanismo electrónico que compensa automáticamente la medida con respecto a la temperatura, mostrando de esta forma el valor real de pH a la temperatura de medición. 
                            p El equipo debe calibrarse diariamente antes de efectuar las mediciones (p.22).
    

                    .list.mt-3
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p Turbidímetro - conductímetro: el conocimiento de la salinidad es fundamental en estudios oceanográficos, pues es necesario para la determinación de corrientes y la identificación de masas de aguas. En estudios ambientales es un factor importante porque puede significar la presencia o no de organismos y peces. La salinidad se puede calcular a partir de la conductividad, el resultado es numéricamente menor que el residuo filtrable y se reporta usualmente como gramos por Kg o partes por mil (psu o ‰ (INVEMAR, 2013, p.24).  
                            p De acuerdo al INVEMAR (2013) actualmente en la mayoría de los laboratorios se mide por medio de la conductividad:
                            p La cual se define como la capacidad que tiene una sustancia de transportar electrones (conducir electricidad); en el agua, esta capacidad se ve influenciada por la cantidad de sales disueltas y la temperatura. Esto significa que, a mayor contenido de sales, mayor conductividad; de esta forma, se puede emplear esta propiedad para medir el contenido de sales en una muestra de agua. El método conductimétrico es aplicable a todo tipo de aguas naturales, especialmente del mar. También es aplicable a efluentes industriales y domésticos.
                            p Hoy en día existen equipos que miden la conductividad y la temperatura de una muestra de agua, y calculan la salinidad a través de programas electrónicos internos. Si no se dispone de un equipo de estos, también se puede determinar con un conductímetro, un termómetro y haciendo uso del algoritmo reportado en “Standard Methods for the Examination of Water and Wastewater”. La ecuación para la conductividad relativa a la temperatura t (Rt) puede ser tomada de «Specific Conductance: Theoretical considerations and application to analytical quality control» por R.L. Miller, W.L. Bradford, y N.E. Peters (2013, p.24).
                                                                            
        .sub-title.mt-5
            h3 Revisión y calibración de los equipos de muestreo 
        p Para realizar esta actividad siempre se debe contar primero con los manuales de calibración para cada uno de los equipos a utilizar, para realizar el alistamiento de reactivos y tener claro los estándares requeridos por los mismos.
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img78.png").img-fluid 
        p El IDEAM en la guía para el monitoreo de vertimientos de aguas superficiales y subterráneas presenta unas consideraciones pertinentes para algunos equipos dadas a continuación: 
        .row.justify-content-center.align-items-stretch.mt-5
            .col-12.col-md-5.mx-3 
                img.img-a(src="assets/images/pages/ilustraciones/img79.svg").img-fluid 
                .hr-blue
                p.mt-4 #[strong Sonda multiparámetro:] siempre revisar y calibrar los sensores de por lo menos 24 horas antes de la actividad; El sensor de oxígeno disuelto debe calibrarse entre cada muestreo si existe diferencias en la altitud. (Se puede usar si es aplicable el método winkler como comparación). 
            .col-12.col-md-5.mx-3 
                img.img-a(src="assets/images/pages/ilustraciones/img80.svg").img-fluid 
                .hr-blue
                p.mt-4 #[strong Medidores de campo sencillos (pHmetro y conductímetro):] el proceso de calibración debe darse diariamente siempre al inicio del primer muestreo. (2014, p 21). 

        .hr-ecored.mt-5
        p.my-5.px-3 Recuerde que el éxito del muestreo se determina según el conocimiento del lugar de muestreo y de la necesidad de los parámetros a identificar, luego siempre revise el equipo antes de ir a tomar la muestra, temas como; Longitudes de sondas, pilas cargadas, funcionamiento y calibración son acciones previas obligatorias.
        .hr-ecored     