.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Instituto Nacional de Salud. (2011). Manual de instrucciones para la toma, preservación y transporte de muestras de agua de consumo humano. 
                    td Manual
                    td 
                        a(href="media/documentos/2011_Manual_toma_de_muestras_agua.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td ICONTEC. (1995). Norma técnica colombiana gestión ambiental - Calidad del agua muestreo. Técnicas generales de muestreo

                    td NTC 5667-2 
                    td 
                        a(href="media/documentos/NTC-ISO_5667-2.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar     

                tr
                    td Ministerio de ambiente, vivienda y desarrollo territorial. (2007). Resolución 2115
                    td Resolución
                    td 
                        a(href="media/documentos/Resolucion_2115.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Ministerio de ambiente, vivienda y desarrollo territorial, (2008), Resolución 0811 
                    td Resolución
                    td 
                        a(href="https://www.ins.gov.co/sivicap/Documentacin%20SIVICAP/2008%20Resoluci%C3%B3n%200811%20Puntos%20de%20muestreo.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td Sedepal, (2018), Técnicas de muestreo de aguas residuales.
                    td Vídeo
                    td 
                        a(href="https://www.youtube.com/watch?v=JBu6RQ1QMD0", target="_blank") <span class="fa fa-youtube-play" aria-hidden="true"></span> Ver

                tr
                    td Universidad de Antioquia, (2020), metodología para realizar un muestreo integrado en un río. 
                    td Vídeo
                    td 
                        a(href="https://www.youtube.com/watch?v=UOBmZqSftJY", target="_blank") <span class="fa fa-youtube-play" aria-hidden="true"></span> Ver                        

                tr
                    td Sociedad americana de química. (2002). Seguridad en laboratorios químicos académicos. Volumen 1. 
                    td Libro
                    td 
                        a(href="media/documentos/seguridad-en-los-laboratorios-quu00edmicos-acadu00e9mico.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar